<article id="genre" class="movie">
  <header>
    <h1><%= @genre.name %></h1>
    <%=	 pluralize(@movies.size,'movie')%>
    <h3>Movies</h3>
    <ul>
      <% @movies.each do |movie| %>
          <ul>
            <li>
              <article class="movie" id="<%= dom_id(movie) %>">
                <header>
                  <%= image_for(movie) %>
                  <h2><%= link_to movie.title, movie %> (<%= movie.released_on.year %>)</h2>
                  <h3><%= movie.cast %></h3>
                </header>
                <p>
                  <%= truncate(movie.description, length: 150, separator: ' ') %>
                </p>
                <table>
                  <tr>
                    <th>Rating</th>
                    <td><%= movie.rating %></td>
                  </tr>
                  <tr>
                    <th>Duration</th>
                    <td><%= movie.duration %></td>
                  </tr>
                  <tr>
                    <th>Total Gross</th>
                    <td><%= format_total_gross(movie) %></td>
                  </tr>
                </table>
                <footer>
                </footer>
              </article>
            </li>
          </ul>

      <% end %>
    </ul>

    <footer>
    <nav>
      <% if current_user_admin? %>
          <%= link_to 'All Genres', genres_path, class: 'button' %>

          <%= link_to 'Edit', edit_genre_path(@genre), class: 'button' %>
          <%= link_to 'Delete', @genre,
                      class: 'button',
                      method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </nav>
  </footer>
</header>
</article>
